body {
  position: relative;
  background-image: url("../img/dsc_0014.jpg");
  background-repeat: no-repeat;
  background-position: center top; 
  background-attachment: fixed;
}

article {
  margin: 0 28px 0 28px;
  padding: 5px 40px;
  background-color: rgba(0, 128, 128, .6);
  color: white;
}

article p {
  font-size: 140%;
}

#Nav, #ALL {
  width: 871px;
  margin: 0 auto;
}

#PRES {
  display: block;
  margin: 0 auto;
  width: 820px; 
  height: 600px;
  background-color: white;
}

.top-main {
}

.header {
}

.section {
}

#about {
}

#portfolio {
}

#contact {
}

.footer {
}


